body {
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #8B8B8B;
    margin: 0;
}

.gameboy {
    width: 95%;
    height: 500px;
    background-color: #6B6B6B;
    border-radius: 15px 15px 150px 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    text-align:center;
    margin:10px 10px 10px 50px;
}

.screen {
    position: relative;
    width: 80%;
    height: 70%;
    left: 10%;
    background-image: radial-gradient(#9bbc0f, #9bbc0f, #9bbc0f, #8bac0f, #306230);
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: #306230;
    text-shadow: 2px 2px 2px #5D871F;
}


.aboutMe {
    background-color: #000;
    color: #fff;
    margin: 50px 0px 0px 0px;
    display: flex;
    align-items: center;
    padding: 100px;
    font-size: 18px;
}
.aboutMe img {
    width: calc(33.33% - 40px);
    margin-right: 50px;
}
.aboutMe p {
    width: calc(66.66% - 40px);
    margin: 0;
}


.workHistory {
    background-color: blue;
    color: #fff;
    margin: 0px 0px 50px 0px;
    display: grid;
    align-items: center;
    padding: 50px;
    font-size: 18px;
}

.projects {
    background-color: red;
    color: #000;
    padding: 50px;
}